/* Additional styles for framework. Not standalone */

:root {
    --optional-color: #f0f9ff;
    --darker-optional: #addeff;
    --link: #1376ad;
    --link-line: #6ac4f6;
}

.col {
    display: flex;
}

table.table-alternating tbody tr:nth-of-type(2n),
.card .card-header
{
    background-color: var(--optional-color);
}

.unpublished {
    background-color: var(--muted-light) !important;
}

.cke_dialog_ui_input_file {
    min-height: 400px;
}

a.active {
    color: var(--link);
    background-color: var(--optional-color);
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    border: none;
}

h1 {
    margin: 1rem 0;
}

.row {
    margin-bottom: 0;
}

.selectize-input {
    border: none;
}

img {
    object-fit: cover;
}

.form-group .paper-switch-2 input:checked+.paper-switch-slider {
    background-color: var(--darker-optional);
}
.title-link {
    color: var(--link);
    background-image: none;
    border-bottom-left-radius: 15px 3px;
    border-bottom-right-radius: 15px 5px;
    border-bottom: 5px solid #41403e;
    border-bottom-color: var(--link-line);
}

.read-more {
    background-image: none;
    margin: -1rem;
    border-left: 2px solid var(--primary);
    box-shadow: -9px 0px 10px 3px #34659530;
    backdrop-filter: hue-rotate(-114deg) saturate(1.5);
    align-items: center;
    justify-content: center;
}

#description {
    min-width: 100%;
}

.btn-small {
    padding: .4rem;
}

.tags {
    margin: 1rem 0 0 0;
}