/* Additional styles for framework. Not standalone */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: inline-block;
    width: auto;
    /*background-color: var(--lighter-optional);*/
}

nav a {
    border-bottom-color: var(--lighter-optional);
    transition: .5s ease;
}

nav a:hover {
    border-bottom-color: var(--optional-color);
    transition: .5s ease;
}

.nav-inner {
    position: sticky;
    top: 1rem;
}

nav ul.inline {
    margin: 0;
}

nav ul.inline li {
    margin: 0;
}

.main {
    display: flex;
    flex: 1 0 auto;
    padding: 0;
}

.col {
    display: flex;
}

table.table-alternating tbody tr:nth-of-type(2n),
.card .card-header
{
    background-color: var(--optional-color);
}

.unpublished {
    background-color: var(--muted-light) !important;
}

ul li {
    padding: 0.7rem;
    font-size: 1.3rem;
}

ul li:before {
    content: "";
}

a.active {
    color: var(--link);
    background-color: var(--optional-color);
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    border: none;
    background-image: none;
}

h1, h2 {
    margin: 1rem 0;
}

.row {
    margin-bottom: 0;
}

.profile-image {
    max-width: 7rem;
    min-width: 4rem;
}

img {
    object-fit: cover;
}

.form-group .paper-switch-2 input:checked+.paper-switch-slider {
    background-color: var(--darker-optional);
}

.read-more {
    background-image: none;
    margin: -1rem;
    border-left: 2px solid var(--primary);
    box-shadow: -9px 0px 10px 3px #34659530;
    backdrop-filter: hue-rotate(-114deg) saturate(1.5);
    align-items: center;
    justify-content: center;
}

.btn-small {
    padding: .4rem;
}

.tags {
    margin: 1rem 0 0 0;
}

.ionicon {
    width: 1rem;
    height: 1rem;
    margin: -0.2rem;
}

.container {
    background-color: var(--lighter-optional);
    margin: 0;
}

.container.container-lg {
    max-width: 1400px;
    padding-top: 0;
    padding-left: 4rem;
}

input, select, textarea {
    background-color: #fff;
}

.email, .website {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

header.container {
    background-color: var(--optional-color);
}

.annotation {
    font-size: 0.8rem;
    color: var(--link);
    margin-top: 1.5rem;
}

table thead tr th {
    font-size: 0.8rem;
}

.footer {
    width: 100%;
    background-color: var(--lighter-optional);
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0;
}

/*CKEditor*/

.cke_1 .cke_top, .cke_bottom, .cke_chrome, .cke_dialog_title, .cke_dialog_footer{
    background-color: var(--optional-color) !important;
    border-color: var(--darker-optional) !important;
}

/*Selectize.js*/

.selectize-input {
    border: none !important;
}

.selectize-control.multi .selectize-input>div,
.selectize-control.multi .selectize-input>div.active{
    background-color: var(--link) !important;
    padding: .2rem .7rem;
    font-size: 1rem;
    color: #ffffff !important;
}